@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/space-grotesk.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-space-grotesk: "Space Grotesk", system-ui, sans-serif;
  --font-space-grotesk: "Inter", system-ui, sans-serif;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}
